body {
  padding: 50px;
  font: 18px "Gill Sans",Helvetica, Arial, sans-serif;
  color: rgb(1, 0, 78)
}

a {
  color: rgb(0, 153, 255);
  margin-right: 20px; 
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: white;
  background-color: red;
  
}

li {
  list-style: none;
}